body {
    margin: 0;
}

.container {
    overflow: hidden;
    width: 85%;
    margin: auto;
    padding: 20px;
}

.header {
    background: #313131;
    overflow: hidden;
    width: 100%;
}

.navigation {
    float: right;
    margin-top: 25px;
}

.navigation li {
    display: block;
    float: right;
    padding-left: 40px;
}

.navigation li a {
    color: #fdfdff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navigation li a:hover {
    color: #00a2c8;
}

.beranda_tentang {
    font-family: 'Poppins', sans-serif;
    color: #313131;
    margin-bottom: -30px;
}

.beranda_tentang .container .beranda {
    font-size: 16px;
}

.beranda_tentang .container .beranda a {
    font-size: 16px;
    text-decoration: none;
    color: #313131;
}

.beranda_tentang .container .beranda a:hover {
    font-size: 16px;
    text-decoration: none;
    color: #00a2c8;
}

.footer {
    background: #313131;
    width: 100%;
}

.footer_container {
    overflow: hidden;
    margin: auto;
    padding: 20px;
    width: 85%;
}

.logo_kabinet {
    float: left;
    padding-top: 13px;
}

.text_footer {
    float: right;
    width: 87%;
    color: #fdfdff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.copyright_footer {
    opacity: 0.5;
    color: #fdfdff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    float: right;
    width: 87%;
}